@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --main-bg-color: #ccffff;
  --secondary-bg-color: #272727;
  --main-accent-color: #704e8d;
  --secondary-accent-color: #402a52;
  --main-text-color: #272727;
  --black: #000000;
  --white: #ffffff;
  font-size: 62.5%;
  font-family:'Roboto';
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.pageContainer-small {
  max-width: 1200px;
  width: 100%;
}

.pageContainer-big {
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  z-index: 1;
  position: relative;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#header-logo {
  height: 80px;
}

#nav-links {
  list-style-type: none;
  display: flex;
  font-family: 'Roboto', sans-serif;
  gap: 40px;
  padding: 0;
  margin-left: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--main-text-color);
}

.nav-link-box{
  box-sizing: border-box;

}

.nav-link::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  height: 2px;
  margin-top: 5px;
  width: 0%;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 75%;
  background-color: var(--main-accent-color);
}

.nav-link:hover {
  color: var(--main-accent-color);
}

#signUpContainer {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.signUpLink {
  font-size: 2.5rem;
}

#signUpLink-1 {
  text-decoration: none;
  color: var(--main-text-color);
}

#signUpLink-1:hover {
  color: var(--main-accent-color);
}

#signUpBackground {
  background-color: var(--main-accent-color);
  border-radius: 5px;
  padding: 5px 10px;
}

#signUpBackground:hover {
  background-color: var(--secondary-accent-color);
  transition: 0.4s;
}

#signUpLink-2 {
  text-decoration: none;
  color: var(--white);
}

#hamburgerMenu {
  position: absolute;
  right: 15px;
  height: 50px;
  width: 50px;
  background: transparent;
  padding: 0;
  border: none;
  visibility: show;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburgerMenu:hover {
  cursor: pointer;
}

#hamburgerMenu .hamburgerLine {
  content: "";
  background-color: var(--main-accent-color);
  height: 7px;
  width: 50px;
  border-radius: 5px;
  transition: all .7s;
}

#hamburgerMenu .hamburgerLine::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: var(--main-accent-color);
  height: 7px;
  width: 50px;
  transform: translateY(-20px);
  border-radius: 5px;
  transition: all .7s;
  right: 0px;
}

#hamburgerMenu .hamburgerLine::after {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: var(--main-accent-color);
  height: 7px;
  width: 50px;
  transform: translateY(20px);
  border-radius: 5px;
  transition: all .7s;
  right: 0px;
}

#hamburgerMenu.open .hamburgerLine {
  width: 0;
}

#hamburgerMenu.open .hamburgerLine::before {
  transform: translate(0px, 0px) rotate(45deg);
}

#hamburgerMenu.open .hamburgerLine::after {
  transform: translate(0px, 0px) rotate(-45deg);
}

#hamburgerNav {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 30px;
  transform: translateY(-400px);
  z-index: 0;
  transition: all .8s ease-in-out;
  background-color: var(--main-bg-color);
}

#hamburgerNav.open {
  transform: translateY(0px);
}

.hamburgerLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.hamburgerLink, .hamburgerSignUpLink {
  display: flex;
  justify-content: center;
}

#hamburgerSignUp {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  width: 90%;
}

#heroBox {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
}

#heroTitleContainer {
  width: 60%;
}

#heroTitle {
  font-size: 7rem;
  font-weight: bold;
  margin: 0;
  color: var(--main-text-color);
}

#heroDescription {
  margin: 10px 0;
  font-size: 2.2rem;
  font-weight: bold;
  color: grey
}

#heroButtonBox{
  margin: 80px 0;
}

#heroButton{
  color: white;
  background-color: var(--main-accent-color);
  font-size: 2.5rem;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.4s;
}

#heroButton:hover {
  background-color: var(--secondary-accent-color);
}

#shorteningSection {
  background-color: var(--secondary-accent-color);
  height:500px;
  display: flex;
  justify-content: center;
}

.shorteningLimiter {
  max-width:1200px;
  width:100%;
}

#shorteningInput:focus {
  outline:none;
}

#shorteningButton:hover {
  cursor:pointer;
  background-color:#8e56c0;
}

#shorteningInput::placeholder {
  text-align: center;
}

#shorteningContainer2 {
  height:270px;
  margin:30px;
  background-color:var(--white);
  border-radius:10px;
  padding: 0;
}

#lastLinks{
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}

.lastLink {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.lastLink a {
  text-decoration: none;
  
}

.lastLink button {
  background: none;
  border: none;
  font-size: 2rem;
  color:var(--black);
}

.lastLink button:hover {
  cursor:pointer;
}

#faqContainer {
  display:flex;
  align-items:center;
  flex-direction:column;
  padding-bottom: 60px;
}

#faqTitle {
  margin-top:100px;
  font-size:5rem;
  font-weight: 900;
}

#faqList {
  list-style: none;
  padding:0;
  width:90%;
}

.faqContainer{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 90px;
}

.faq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  z-index: +1;
  font-size: 2.3rem;
  height: 70px;
  font-weight: bold;
  transition: all .3s ease-out;
  padding: 10px;
}

.faq p {
  user-select: none;
}

.faq:hover{
  cursor: pointer;
  background-color: rgb(146, 196, 216);
}

.faqX {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  transition: all .5s;
}

.faqXLine1{
  content: "";
  display: block;
  position: absolute;
  background-color: var(--main-text-color);
  height: 5px;
  width: 30px;
  border-radius: 5px;
}

.faqXLine2{
  content: "";
  display: block;
  position: absolute;
  background-color: var(--main-text-color);
  height: 5px;
  width: 30px;
  border-radius: 5px;
  transform: rotate(90deg);
}

.faqAnswer {
  display: block;
  margin: 0;
  margin-top: -400px;
  overflow: hidden;
  font-size: 2rem;
  transition: all .5s;
}

.faqX1.open {
  transform: rotate(-45deg);
}

.faqAnswer1.open {
  margin-top: 0;
}

.faqX2.open {
  transform: rotate(-45deg);
}

.faqAnswer2.open {
  margin-top: 0;
}

.faqX3.open {
  transform: rotate(-45deg);
}

.faqAnswer3.open {
  margin-top: 0;
}

.faqX4.open {
  transform: rotate(-45deg);
}

.faqAnswer4.open {
  margin-top: 0;
}

footer {
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
}

#footerLimiter {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 10px 0px; 
  grid-template-areas: 
    "a b c d e e"; 
}

.footerContainer {
  display:flex;
  flex-direction:column;
  align-items: center;
  color: var(--white);
}

.footerContainer h1 {
  font-size: 2.2rem;
}

.footerContainer ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  font-weight:light;
  line-height: 1.5;
}

.fooCon1 {
  grid-area: a;
}

.fooCon2 {
  grid-area: b;
}

.fooCon3 {
  grid-area: c;
}

.fooCon4 {
  grid-area: d;
}

.footerImageContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-area: e;
}

.footerImageContainer a {
  color: var(--white);
}

.footerImageContainer img {
  width: 180px;
}

@media screen and (max-width: 1000px) {
  #nav-links {
    visibility:hidden;
  }
  #signUpContainer {
    visibility:hidden;
  }
  #hamburgerMenu {
    visibility:show;
  }
  #heroTitleContainer {
    width: 100%;
  }
  #shorteningContainer1 {
    display:flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    margin:30px;
    box-sizing: border-box;
  }
  #shorteningInput {
    width:100%;
    height:60px;
    border-radius:10px;
    border:none;
    font-size:2rem;
    padding: 0 0px;
  }
  #shorteningButton{
    width:100%;
    height:60px;
    border-radius:10px;
    border:none;
    background-color: var(--main-accent-color);
    transition:0.5s;
    font-size:2rem;
    color:var(--white);
  }
  .faqAnswer {
    font-size: 1.8rem;
  }
  #footerLimiter {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 0px; 
    grid-template-areas: 
      "a b c d"
      "e e f f"; 
  }
}

@media screen and (min-width: 1001px) {
  #hamburgerMenu {
    visibility:hidden;
  }
  #shorteningContainer1 {
    display:grid;
    gap:40px;
    grid-template-columns:2fr 0.75fr;
    inset: 0;
    margin: 30px;
  }
  
  #shorteningInput {
    height:60px;
    border-radius:10px;
    border:none;
    font-size:2rem;
    padding: 0 20px;
    max-width: 800px;
  }
  #shorteningButton {
    height:60px;
    border-radius:10px;
    border:none;
    background-color: var(--main-accent-color);
    transition:0.5s;
    font-size:2rem;
    color:var(--white);
    max-width:300px;
  }
}

@media screen and (max-width: 600px) {
  #footerLimiter {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 0px; 
    grid-template-areas: 
      "a b"
      "c d"
      "e e"; 
  }
}

@media screen and (max-width: 400px) {
  #heroTitle {
    font-size: 6rem;
  }
  #heroDescription {
    font-size: 2rem;
  }
  #footerLimiter {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 0px; 
    grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      "e"; 
  }
}